body {
    background-color: #222;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #333;
    padding: 50px;
    text-align: center;
}
#counter {
    font-size: 6rem;
    margin: 20px 0;
    text-align: center;
}
#clicker {
    font-size: 4rem;
    margin: 30px 0;
}
#clicker:hover {
    background-color: #444;
}
